.header-image
 {
	width: 100%;
	margin-bottom: 30px;
}

.header-image-container
 {
	margin-top: 70px;
	padding-left: 5px;
	padding-right: 5px;
}

.inline-block
{
	display: inline-block;
}

.nav-logo-class
{
	height: 100px;
}

.nav-logo-class-xs
{
	height: 50px;
}

section
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 50px;
	margin-top: -50px;
	padding-bottom: 20px;
}

.container
{
	//border-bottom: 1px solid;
}

.navbar-nav
{
    display: inline-block;
    float: none;
    //margin: 0;
}

.navbar-collapse.collapse 
{
	text-align: center; /* Set this */
	height: 50px !important;
	//display: block !important;
	padding-bottom: 0;
	//overflow: visible !important;
}

.navbar-collapse.collapse.in
{
	height: auto !important;
	display: block !important;
	overflow: visible !important;
}

.navbar-brand
{
	text-align: center;
}

/*.navbar
{
	padding: 20px 0;
	 //-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
     //-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
     //transition: background .5s ease-in-out,padding .5s ease-in-out;
}*/

.navbar-custom-collapse
{
	padding: 0;
	max-height: 50px;
}

.footer-image
{
	height: 100px;
}

.glyphicon.glyphicon-envelope
{
    font-size: 100px;
}

.glyphicon.glyphicon-phone-alt
{
    font-size: 100px;
}